/* Basic resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  width: 512px;
}

/* Container padding */
.popup-container {
  padding: 12px;
}

/* Tabs */
.tabs {
  display: flex;
  margin-bottom: 16px;
}

.tab-button {
  flex: 1;
  padding: 0.5rem;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  font-weight: bold;
}

.tab-button:hover {
  background-color: #ccc;
}

.tab-button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tab-button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tab-button.active {
  background-color: #4896bf;
  color: #fff;
}

.section {
  display: none; /* By default hidden */
}

.section.active {
  display: block; /* Show the active section */
}

/* Selected text style */
.selected-text-container {
  background-color: #fff;
  padding: 16px 8px;
  border-radius: 8px;
  min-height: 40px;
  margin-bottom: 16px;
}

.selected-text-container p {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 96px;
  overflow-y: auto;
}

/* User input area */
textarea {
  width: 100%;
  height: 60px;
  resize: none;
  border-radius: 8px;
  padding: 16px 8px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  outline-color: #ac48bf;
}

/* Send button */
#sendBtn {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 0.5rem;
  background-color: #4896bf;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Send button disabled */
#sendBtn:disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
}

/* Send button hover */
#sendBtn:hover {
  background-color: #ac48bf;
}

/* Response container */
.response-container {
  background-color: #fff;
  padding: 16px 8px;
  border-radius: 8px;
  overflow-y: auto;
}

.response-container-h3 {
  margin-bottom: 4px;
}

#responseOutput {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Settings section */
#apiKeyInput {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline-color: #ac48bf;
}

#saveApiKeyBtn,
#refineCustomPromptBtn {
  width: 100%;
  padding: 8px;
  background-color: #4896bf;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#saveApiKeyBtn:hover,
#refineCustomPromptBtn:hover {
  background-color: #ac48bf;
}

/* Base link styles */
a {
  text-decoration: none; /* Remove default underline */
  color: #4896bf; /* Choose an accessible primary color */
  font-weight: 500; /* Slightly bold for readability */
  transition: color 0.3s, text-decoration 0.3s;
}

/* Hover state */
a:hover {
  color: #4896bf; /* Darker shade for hover */
  text-decoration: underline; /* Reinforce link identity */
}

#userInput,
#refineCustomPromptInput {
  resize: vertical;
  min-height: 64px;
}
